html, body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #76b852, #8DC26F);
}

.container{
    max-width: 1170px;
    margin: auto;
    height: 200px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}